* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Georgia", serif;
      background: url("assets/img/bgm.png") no-repeat  center top / cover;
      color: #fff;
      /* height: 100vh; */
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      overflow-x: hidden;
          background-color: #bcae90;
    }

    /* body::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.12);
      z-index: 1;
    } */

    h1, h2, h3{

        font-family: "Halant", serif;
    }
    h4,h5,h6{
        font-family: "Poppins", sans-serif;
    }
    p, span{
        font-family: "Open Sans", sans-serif;
    }
    input[type="text"], input[type="email"], input[type="tel"] {
        font-family: "Open Sans", sans-serif;
    }
    label {
        font-family: "Open Sans", sans-serif;
    }
    .content {
      position: relative;
      z-index: 2;
      max-width: 650px;
      width: 90%;
      padding: 10px;
    }

    .logo img {
      width: 10.5rem;
      height: auto;
      margin-bottom: 0;
          margin-top: 1.5rem;
    }

    h1 {
      font-size: 6rem;
      font-weight: 400;
      color: #fff;
          margin-top: -2rem;
    }

    p {
          font-size: 0.8rem;
      line-height: 1.8;
      color: #f2f2f2;
      margin-bottom: 0rem;
    }

    p strong {
      font-weight: 500;
    }


    .form-group {
      text-align: left;
      margin-bottom: 10px;
    }

    label {
      display: block;
      font-weight: bold;
      font-size: 0.9rem;
      color: #fff;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
          width: 100%;
    padding: 2px 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background: transparent;
    color: #fff;
    font-size: 0.7rem;
    outline: none;
    }

    input::placeholder {
      color: #ccc;
    }

    .checkbox {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      font-size: 13px;
      color: #ddd;
      margin-top: 10px;
    }

    .checkbox input {
      margin-top: 4px;
       accent-color: #555C4A;
    }

    button {
      background: #555C4A;
      border: none;
      color: #fff;
      padding: 12px 30px;
      border-radius: 30px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      margin-top: 15px;
      transition: background 0.3s ease;
    }

    button:hover {
      background: #707b53;
    }
    .ag1{
      font-weight: 500;
      font-size: 0.8rem;
    }
.span1{
  font-weight: 700;
}
    @media (min-width: 1200px) {
      body {
        background-position: top center; 
        background-size: cover; 
        background-repeat: no-repeat;
        background-color: #000;
      }
    }

    @media (max-width: 1024px) {
      body {
        background: url("assets/img/bgm.png") no-repeat 60% center / cover;
        height: 100vh;

      }
        .logo img {
              width: 90px;
        height: auto;
        margin-top: 2rem;
        }
      
    }

    @media (max-width: 768px) {
      body {
        background: url("assets/img/bgm.png") no-repeat 0% center / cover;
        /* padding:  10px; */
      }

      h1 {
        font-size: 3.9rem;
                margin-top: -1rem;
      }
          .logo img {
        width: 8rem;
        height: auto;
        margin-top: 0rem ;
    }


      p {
        font-size: 0.7rem;
      }
    }

    @media (max-width: 480px) {
      body {
            background-color: #555c4a;
            margin-bottom: 0 !important;

            height: 100vh;
            
      }
  p {
        font-size: 0.6rem;
      }
      h1 {
        font-size: 3rem;
                /* margin-top: 15px; */
      }
      .logo img{
        /* margin-top: 0.5rem !important; */
      }

      button {
        width: 40%;
      }
      .content {
            position: relative;
            z-index: 2;
            max-width: 600px;
            width: 90%;
            padding-top: 0;
            /* margin-top: -60px; */
        }
    }
     @media (max-width: 320px) {
     
      h1 {
        font-size: 2rem;
                margin-top: 15px;
      }
       button {
        width: 50%;
      }

     
    }